<h1>Tarefas</h1>

<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Tarefa</th>
      <th>Concluída</th>
      <th class="text-center">
        <a [routerLink]="['/tarefas/cadastrar']"
          class="btn btn-outline-success btn-xs">
          <i class="fa fa-plus"></i> Novo
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td
        [tarefaConcluida]="tarefa.concluida">
        {{ tarefa.nome }}
      </td>

      <td style="width: 70px" class="text-center">
        <input type="checkbox" [value]="tarefa.id" [checked]="tarefa.concluida"
        (click)="alterarStatus(tarefa)">
      </td>

      <td class="text-center" style="width: 250px">
        <a [routerLink]="['/tarefas/editar', tarefa.id]"
          title="Editar" alt="Editar"
          class="btn btn-outline-info btn-xs">
          <i class="fa fa-edit"></i> Editar
        </a>
        <a href="#" title="Remover" alt="Remover" 
          class="btn btn-outline-danger btn-xs ml-2"
          (click)="remover($event, tarefa)">
          <i class="fa fa-trash"></i> Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="tarefas.length==0">Nenhuma tarefa cadastrada.</p>