<div class="container-fluid p-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 rounded">
    <a class="navbar-brand" href="#">Projeto final</a>
  
    <!-- Mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicial</a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Projetos
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="[ '/dashboard' ]">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Calculadora</a>
            <a class="dropdown-item" href="#">Conversor de moedas</a>
            <a class="dropdown-item" href="#">Gerenciador de tarefas</a>
            <a class="dropdown-item" href="#">Jogo da velha</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>
